.crm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crm-title {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 20px;
}

.crm-wrapper {
    width: 80%;
}

.crm-article {
    border: 1px solid var(--black);
    border-radius: 5px 5px 0 0;
    background-color: var(--white);

    margin-bottom: 30px;
}

.crm-article-title {
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--black);
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.crm-article-file {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--black);
    padding: 10px;
}

.crm-article-fileImage {
    font-size: 1.5rem;
    color: var(--dark-blue);
    margin-right: 10px;
}