.crminfo-wrapper {
    padding: 10px;
    border-top: 1px solid var(--black);
}

.crminfo-subtitle {
    font-size: 1.25rem;
    color: var(--dark-blue);
    font-weight: 400;
}

.crminfo-info {
    display: block;
    font-size: 1.125rem;
    color: var(--black);
    margin: 10px;
    background-color: var(--grey);
    border: 1px solid var(--black);
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 550px) {
    .crminfo-info {
        margin: 0;
    }
}